<script type="text/javascript">
<% @exercises.each do |e| %>
  <% if not e.users.include? @current_user %>
       $(document).ready(function(){
       $("#<%= e.id %>").click(function(e){
           e.preventDefault();
           var exer = <%= e.id %> ;
           var uurl = "/exercises/"+exer+"/add_user/";
           var id;
           <% if @current_user %>
              id = <%= @current_user.id %>;
           <%else%>
           <%end%>
           $.ajax({ url: uurl,
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: { id: exer , user: id},
              success: function(response) {
                alert(response);
                $("#<%=e.id %>").hide();
              }
            });
      });
  });
        
        

  <% end %>
<% end %>

<% @future_exercises.each do |e| %>
  <% if not e.users.include? @current_user %>
       $(document).ready(function(){
       $("#<%= e.id %>").click(function(e){
           e.preventDefault();
           var exer = <%= e.id %> ;
           var uurl = "/exercises/"+exer+"/add_user/";
           var id;
           <% if @current_user %>
              id = <%= @current_user.id %>;
           <%else%>
           <%end%>
           $.ajax({ url: uurl,
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: { id: exer , user: id},
              success: function(response) {
                alert(response);
              }
            });
      });
  });
        
        

  <% end %>
<% end %>
</script>

<h2 class="text-info"> Actual Exercises </h2>

<table class="table table-hover">
    <% @exercises.each do |e| %>
       <tr><th><a href="/exercise/<%= e.id %>"><i class="icon-book"></i> <%= e.name %></a></th>
       <% if not e.users.include? @current_user %>
        <th><button class="btn btn-success" type="button" id="<%= e.id %>"> Register </button></th>
       <% end %>
       </tr>
    <% end %>
</table>

<h2 class="text-info"> Future Excercises </h2>

<table class="table table-hover">
    <% @future_exercises.each do |e| %>
       <tr><th><i class="icon-book"></i> <%= e.name %></th>
       <% if not e.users.include? @current_user %>
        <th><button class="btn btn-success" type="button" id="<%= e.id %>">register</button></th>
       <% end %>
       </tr>
    <% end %>
</table>

<h2 class="text-info"> Past Excercises </h2>


<table class="table table-hover">
    <% @past_exercises.each do |e| %>
        
      <tr><th><a href="/exercise/<%= e.id %>"><i class="icon-book"></i> <%= e.name %></a></th>
      </tr>
    <% end %>
</table>
