<%= form_for [@problem, @problem.testcases.build], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :infile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :infile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :outfile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :outfile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jtype, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :jtype, [['Download Input',1],['Upload source',2]] %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
