<table class="table table-striped">
  <thead>
    <tr>
      <th>Input File</th>
      <th>Output File </th>
      <th>Judge</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @problem.testcases.each do |p| %>
      <tr>
        <td><%= p.infile.url %></td>
        <td><%= p.outfile.url %> </td>
        <td><%= p.jtype %></td>
        <td><%= link_to 'Delete',[p.problem, p], :confirm => 'Are you sure?', 
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
