<%- model_class = Excercise -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @excercise.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_date) %>:</strong></dt>
  <dd><%= @excercise.from_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_date) %>:</strong></dt>
  <dd><%= @excercise.to_date %></dd>
</dl>

<h3>Problems of this excercise</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Problem number</th>
      <th>Time limit</th>
      <th>Score</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @excercise.excercise_problems.each do |p| %>
      <tr>
        <td><%= p.problem_number %></td>
        <td><%= p.time_limit %></td>
        <td><%= p.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Add problems to the excercise:</h3>
<%= form_for [@excercise, @excercise.excercise_problems.build], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :problem_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :problem_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              excercises_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_excercise_path(@excercise), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              excercise_path(@excercise),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
