<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Problem name </th>
      <th>Time limit</th>
      <th>Score</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @excercise.excercise_problems.each do |p| %>
      <tr>
          <td><%= p.problem_number %></td>
          <td><%= p.problem.name %> </td>
        <td><%= p.time_limit %></td>
        <td><%= p.score %></td>
        <td><%= link_to 'Delete',[p.excercise, p], :confirm => 'Are you sure?', 
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
