<%- model_class = Submission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Exercise</th>
            <th>Problem</th>
            <th>Time</th>
            <th>Veredict</th>
            <th><%=t '.actions', :default => t("helper.actions") %></th>
        </tr>
    </thead>
    <tbody>
    
    

<% @submissions.each do |submission| %>
    <tr>
        <td><%= link_to submission.id, submission_path(submission) %></td>
        <td><%= link_to submission.user.name, user_path(submission.user) %></td>
        <td><%= submission.exercise_problem.exercise.name %></td>
        <td><%= submission.exercise_problem.problem.name %></td>
        <td><%= submission.time %></td>
        <td><%= submission.veredict %></td>
        <td>
          <% if @current_user.has_roles(User.roles[:psetter]) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      submission_path(submission),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>    
    </tr>   

<% end %>

<%= will_paginate @posts %>

</table>

<br />

