<h2>Submit solution</h2>
<%= form_for(@submission, :url=> {:action => "jdownload", :id=>@submission.id}, :html => {:method=>"put", :onsubmit => "return validate_form()"}) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
      <%= f.label :outfile, :class=>'control-label' %>
      <div class="controls">
          <%= f.file_field :outfile %>
      </div>
  </div>

  <div class="control-group">
      <%= f.label :srcfile, :class=>'control-label' %>
      <div class="controls">
          <%= f.file_field :srcfile %>
      </div>
  </div>

  <div class="actions">
      <%= link_to "Download Input", {:controller=>"submissions",:action=>"downloadInput", 
          :exercise_problem=>@exercise_problem.id},{:class => 'btn btn-primary',:target => "blank"} %>
      <%= f.submit :class => 'btn btn-success', :value => 'Submit solution' %>
  </div>

  <div class="control-group">
      Time limit: 
      <div class="controls" id="countdown"></div>
  </div>
<% end %>

<script language="jscript">
    var timer,time;

    window.onload=function(){init_timer()};

    function init_timer() {
        time = <%= @exercise_problem.time_limit %>;
        idSubm = <%= @submission.id %>;
        time_trigger();
    }

    function time_trigger() {
        document.getElementById("countdown").innerHTML=time + " s";
        time--;
        if (time==0) {
            window.location.href="/submissions/"+idSubm;
        }
        timer = setTimeout('time_trigger()',1000);
    }

    function filled(str) {
        return str!=null && str!="";
    }

    function validate_form() {
        var srcfile = document.getElementById("submission_srcfile");
        var outfile = document.getElementById("submission_outfile");
        var v = filled(srcfile.value) && filled(outfile.value);
        if (!v) alert("Both source file and output file must be filled");
        return v;
    }
</script>
