<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Url:</b>
  <%= @problem.url %>
</p>

<p>
  <b>Notes:</b>
  <%= @problem.notes %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
