    <!DOCTYPE html>
    <html>
      <head>
        <title>UTP Online Judge</title>
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
      <%= render "/layouts/top_bar" %>      
      <% if flash[:notice] %>
        <h4 class='<%= (flash[:class]) ? flash[:class] : "alert alert-error" %>'>
          <%= flash[:notice] %>
        </h4>        
      <% end %>
      <%= render "/layouts/info" %>
  </body>
</html>
