<h1>Listing problem_excercises</h1>

<table>
  <tr>
    <th>Excercise</th>
    <th>Problem</th>
    <th>Timelimit</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problem_excercises.each do |problem_excercise| %>
  <tr>
    <td><%= problem_excercise.excercise_id %></td>
    <td><%= problem_excercise.problem_id %></td>
    <td><%= problem_excercise.timelimit %></td>
    <td><%= problem_excercise.score %></td>
    <td><%= link_to 'Show', problem_excercise %></td>
    <td><%= link_to 'Edit', edit_problem_excercise_path(problem_excercise) %></td>
    <td><%= link_to 'Destroy', problem_excercise, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem excercise', new_problem_excercise_path %>
