<%= form_for [@problem, @problem.testcases.build], :html => { :class => 'form-horizontal', :multipart=>true } do |f| %>
  <div class="control-group">
    <%= f.label :infile, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :infile %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :outfile, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :outfile %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jtype, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :jtype, Testcase.judgeTypes %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
